
Ahoj
{*/*
{block content}
    <h1 n:block="title">Můj uživatel</h1>

    {foreach $userData as $user}
        <div class="post">
            <h2>{$user->isLoggedIn() ? 'ano' : 'ne'}</h2>
        </div>
    {/foreach}
{/block}

*}